openapi: 3.0.0
info:
  title: HubSpot LineItems API
  description: API for fetching lineItems from HubSpot
  version: v3
servers:
  - url: https://api.hubapi.com/
security:
  - oauth2: ['crm.objects.line_items.read']
paths:
  /crm/v3/objects/line_items:
    get:
      summary: Retrieve a list of lineItems
      description: Fetches lineItems with pagination and properties.
      operationId: getLineItems
      parameters:
        - name: limit
          in: query
          description: Maximum number of results per page.
          required: false
          schema:
            type: integer
            default: 10
          example: 50
        - name: after
          in: query
          description: Cursor token for the next page of results.
          required: false
          schema:
            type: string
          example: "MjA1MA=="
        - $ref: 'components.yaml#/components/parameters/Properties'
        - $ref: 'components.yaml#/components/parameters/PropertiesWithHistory'
        - $ref: 'components.yaml#/components/parameters/Associations'
        - $ref: 'components.yaml#/components/parameters/Archived'
      responses:
        "200":
          description: Paginated list of lineItems.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/LineItemsResponse"
    post:
      summary: Create a new lineItem
      description: Create a new lineItem in the HubSpot CRM.
      tags:
        - LineItems
      operationId: createLineItem
      requestBody:
        description: LineItem details to create a new lineItem.
        required: true
        content:
          application/json:
            schema:
              $ref: "components.yaml#/components/schemas/LineItemCreateRequest"
      responses:
        "201":
          description: LineItem created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID of the created lineItem.
                    x-go-type-skip-optional-pointer: true
                  properties:
                    type: object
                    description: Properties of the created lineItem.
                    x-go-type-skip-optional-pointer: true
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the lineItem was created.
                    x-go-type-skip-optional-pointer: true
                  archived:
                    type: boolean
                    description: Whether the customer is archived or not.
                    x-go-type-skip-optional-pointer: true
                  archivedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the lineItem was archived.
                    x-go-type-skip-optional-pointer: true
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the lineItem was last updated.
                    x-go-type-skip-optional-pointer: true
                  propertiesWithHistory:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: "components.yaml#/components/schemas/PropertyHistory"
                    description: A map of the lineItem's properties including historical values.
                    x-go-type-skip-optional-pointer: true
        "400":
          $ref: "components.yaml#/components/responses/ErrorResponse"
  
  /crm/v3/objects/line_items/{lineItemId}:
    get:
      summary: Get LineItem Details
      description: Retrieve lineItem details, including associations and additional metadata.
      operationId: getLineItemById
      parameters:
        - name: lineItemId
          in: path
          required: true
          description: The ID of the lineItem to retrieve.
          schema:
            type: string
            format: int64
        - name: idProperty
          in: query
          required: false
          description: The property to use as the ID.
          schema:
            type: string
        - $ref: 'components.yaml#/components/parameters/Properties'
        - $ref: 'components.yaml#/components/parameters/PropertiesWithHistory'
        - $ref: 'components.yaml#/components/parameters/Associations'
        - $ref: 'components.yaml#/components/parameters/Archived'
      responses:
        "200":
          description: LineItem object details.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/LineItemResponse"
    patch:
      summary: Update a lineItem
      description: Updates the details of a lineItem in HubSpot CRM.
      operationId: updateLineItem
      parameters:
        - name: lineItemId
          in: path
          required: true
          description: The unique identifier of the lineItem to update.
          schema:
            type: string
      requestBody:
        description: LineItem details to update.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                objectWriteTraceId:
                  type: string
                  description: Unique trace ID for the operation.
                properties:
                  type: object
                  description: Key-value pairs representing the lineItem properties to update.
                  additionalProperties:
                    type: string
                    description: Value of the property to update.
              required:
                - properties
      responses:
        '200':
          description: Successfully updated the lineItem.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID of the updated lineItem.
                    x-go-type-skip-optional-pointer: true
                  properties:
                    type: object
                    description: Properties of the updated lineItem.
                    x-go-type-skip-optional-pointer: true
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the lineItem was created.
                    x-go-type-skip-optional-pointer: true
                  archived:
                    type: boolean
                    description: Whether the customer is archived or not.
                    x-go-type-skip-optional-pointer: true
                  archivedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the lineItem was archived.
                    x-go-type-skip-optional-pointer: true
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the lineItem was last updated.
                    x-go-type-skip-optional-pointer: true
                  propertiesWithHistory:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: "components.yaml#/components/schemas/PropertyHistory"
                    description: A map of the lineItem's properties including historical values.
                    x-go-type-skip-optional-pointer: true
    delete:
      summary: Delete a lineItem
      description: Deletes a lineItem from HubSpot using the provided lineItem ID.
      operationId: deleteLineItemById
      parameters:
        - name: lineItemId
          in: path
          required: true
          description: The unique ID of the lineItem to delete.
          schema:
            type: string
      responses:
        '204':
          description: No Content. The lineItem was successfully deleted.

  /crm/v3/objects/line_items/batch/create:
    post:
      summary: Batch create line items
      description: Create multiple line items in a single request.
      operationId: batchCreateLineItems
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "components.yaml#/components/schemas/BatchCreateLineItemsRequest"
      responses:
        "201":
          description: Batch of line items created successfully.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/BatchResponseLineItems"
        "400":
          $ref: "components.yaml#/components/responses/ErrorResponse"

  /crm/v3/objects/line_items/search:
    $ref: './search.yaml#/search'