openapi: 3.0.0
info:
  title: HubSpot v3 API
  description: HubSpot API for managing CRM objects.
  version: v3
servers:
  - url: https://api.hubapi.com/
security:
  - oauth2: ['crm.objects.contacts.read']
paths:
  /crm/v3/objects/contacts:
    get:
      summary: Retrieve a paginated list of contacts
      description: Fetch a page of contacts. Control the response content via query parameters.
      tags:
        - Contacts
      operationId: getContacts
      parameters:
        - name: limit
          in: query
          description: Maximum number of results per page.
          required: false
          schema:
            type: integer
            default: 10
          example: 50
        - name: after
          in: query
          description: Cursor token for the next page of results.
          required: false
          schema:
            type: string
          example: "MjA1MA=="
        - name: properties
          in: query
          description: |
            Comma-separated list of properties to include in the response.
            If a specified property is not present, it will be ignored.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          examples:
            defaultProperties:
              summary: Example properties
              value: ["firstname", "lastname", "email"]
        - name: propertiesWithHistory
          in: query
          description: |
            Comma-separated list of properties to include with their historical values.
            Historical data reduces the maximum number of objects returned per request.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          examples:
            defaultPropertiesWithHistory:
              summary: Example properties with history
              value: ["firstname", "lastname"]
        - name: associations
          in: query
          description: |
            Comma-separated list of object types to retrieve associated IDs for.
            Nonexistent associations will be ignored.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          examples:
            defaultAssociations:
              summary: Example associations
              value: ["deals", "tickets"]
        - name: archived
          in: query
          description: Include only archived results.
          required: false
          schema:
            type: boolean
            default: false
          example: false
      responses:
        "200":
          description: Paginated list of contacts.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/ContactsResponse"
    post:
      summary: Create a new contact
      description: Create a new contact in the HubSpot CRM.
      tags:
        - Contacts
      operationId: createContact
      requestBody:
        description: Contact details to create a new contact.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  description: Key-value pairs of contact properties.
                  additionalProperties:
                    type: string
                associations:
                  type: array
                  description: List of associations for the contact.
                  items:
                    type: object
                    properties:
                      associationCategory:
                        type: string
                        description: Category of the association.
                        enum:
                          - Search
                          - HUBSPOT_DEFINED
                          - USER_DEFINED
                          - INTEGRATOR_DEFINED
                      associationTypeId:
                        type: integer
                        format: int32
                        description: ID of the association type.
                      to:
                        type: object
                        description: Target object details for the association.
                        properties:
                          id:
                            type: string
                            description: Target object ID.
                objectWriteTraceId:
                  type: string
                  description: Trace ID for object write operations.
              required:
                - properties
              example:
                properties:
                  firstname: "John"
                  lastname: "Doe"
                  email: "johndoe@example.com"
      responses:
        "201":
          description: Contact created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID of the created contact.
                    x-go-type-skip-optional-pointer: true
                  properties:
                    type: object
                    description: Properties of the created contact.
                    x-go-type-skip-optional-pointer: true
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the contact was created.
                    x-go-type-skip-optional-pointer: true
                  archived:
                    type: boolean
                    description: Whether the customer is archived or not.
                    x-go-type-skip-optional-pointer: true
                  archivedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the contact was archived.
                    x-go-type-skip-optional-pointer: true
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the contact was last updated.
                    x-go-type-skip-optional-pointer: true
                  propertiesWithHistory:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: "components.yaml#/components/schemas/PropertyHistory"
                    description: A map of the contact's properties including historical values.
                    x-go-type-skip-optional-pointer: true

  /crm/v3/objects/contacts/{contactId}:
    get:
      summary: Retrieve contact details by ID
      description: |
        Fetch a contact object identified by its `contactId`. 
        Control the response content via query parameters.
      tags:
        - Contacts
      operationId: getContactById
      parameters:
        - name: contactId
          in: path
          description: Unique ID of the contact.
          required: true
          schema:
            type: integer
            format: int64
        - name: properties
          in: query
          description: |
            Comma-separated list of properties to include in the response.
            If a specified property is not present, it will be ignored.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          examples:
            defaultProperties:
              summary: Example properties
              value: ["firstname", "lastname", "email"]
        - name: associations
          in: query
          description: |
            Comma-separated list of object types to retrieve associated IDs for.
            Nonexistent associations will be ignored.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          examples:
            defaultAssociations:
              summary: Example associations
              value: ["deals", "tickets"]
        - name: archived
          in: query
          description: Include only archived results.
          required: false
          schema:
            type: boolean
            default: false
          example: false
      responses:
        "200":
          description: Contact object details.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/ContactResponse"
    patch:
      summary: Update a contact
      description: Updates the details of a contact in HubSpot CRM.
      operationId: updateContact
      parameters:
        - name: contactId
          in: path
          required: true
          description: The unique identifier of the contact to update.
          schema:
            type: string
      requestBody:
        description: Contact details to update.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                objectWriteTraceId:
                  type: string
                  description: Unique trace ID for the operation.
                properties:
                  type: object
                  properties:
                    email:
                      type: string
                      description: The new email address of the contact.
                    firstname:
                      type: string
                      description: The new first name of the contact.
                    lastname:
                      type: string
                      description: The new last name of the contact.
              required:
                - properties
      responses:
        '200':
          description: Successfully updated the contact.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID of the updated contact.
                    x-go-type-skip-optional-pointer: true
                  properties:
                    type: object
                    description: Properties of the updated contact.
                    x-go-type-skip-optional-pointer: true
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the contact was created.
                    x-go-type-skip-optional-pointer: true
                  archived:
                    type: boolean
                    description: Whether the customer is archived or not.
                    x-go-type-skip-optional-pointer: true
                  archivedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the contact was archived.
                    x-go-type-skip-optional-pointer: true
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the contact was last updated.
                    x-go-type-skip-optional-pointer: true
                  propertiesWithHistory:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: "components.yaml#/components/schemas/PropertyHistory"
                    description: A map of the contact's properties including historical values.
                    x-go-type-skip-optional-pointer: true
    delete:
      summary: Delete a contact
      description: Deletes a contact from HubSpot using the provided contact ID.
      parameters:
        - name: contactId
          in: path
          required: true
          description: The unique ID of the contact to delete.
          schema:
            type: string
      responses:
        '204':
          description: No Content. The contact was successfully deleted.
  /crm/v3/objects/contacts/search:
    $ref: './contact-search.yaml#/search'
  /crm/v3/objects/contacts/gdpr-delete:
    $ref: './contact-gdpr-delete.yaml#/gdprDelete'
  /crm/v3/objects/contacts/merge:
    $ref: './contact-merge.yaml#/merge'