openapi: 3.0.0
info:
  title: HubSpot v3 API
  description: HubSpot API for managing CRM objects.
  version: v3
servers:
  - url: https://api.hubapi.com/
security:
  - oauth2: ['crm.objects.contacts.read']
paths:
  /crm/v3/objects/contacts:
    get:
      summary: Retrieve a paginated list of contacts
      description: Fetch a page of contacts. Control the response content via query parameters.
      tags:
        - Contacts
      operationId: getContacts
      parameters:
        - name: limit
          in: query
          description: Maximum number of results per page.
          required: false
          schema:
            type: integer
            default: 10
          example: 50
        - name: after
          in: query
          description: Cursor token for the next page of results.
          required: false
          schema:
            type: string
          example: "MjA1MA=="
        - name: properties
          in: query
          description: |
            Comma-separated list of properties to include in the response.
            If a specified property is not present, it will be ignored.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          examples:
            defaultProperties:
              summary: Example properties
              value: ["firstname", "lastname", "email"]
        - name: propertiesWithHistory
          in: query
          description: |
            Comma-separated list of properties to include with their historical values.
            Historical data reduces the maximum number of objects returned per request.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          examples:
            defaultPropertiesWithHistory:
              summary: Example properties with history
              value: ["firstname", "lastname"]
        - name: associations
          in: query
          description: |
            Comma-separated list of object types to retrieve associated IDs for.
            Nonexistent associations will be ignored.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          examples:
            defaultAssociations:
              summary: Example associations
              value: ["deals", "tickets"]
        - name: archived
          in: query
          description: Include only archived results.
          required: false
          schema:
            type: boolean
            default: false
          example: false
      responses:
        "200":
          description: Paginated list of contacts.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/ContactsResponse"
    post:
      summary: Create a new contact
      description: Create a new contact in the HubSpot CRM.
      tags:
        - Contacts
      operationId: createContact
      requestBody:
        description: Contact details to create a new contact.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  description: Key-value pairs of contact properties.
                  additionalProperties:
                    type: string
              required:
                - properties
              example:
                properties:
                  firstname: "John"
                  lastname: "Doe"
                  email: "johndoe@example.com"
      responses:
        "201":
          description: Contact created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID of the created contact.
                  properties:
                    type: object
                    description: Properties of the created contact.
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the contact was created.
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the contact was last updated.

  /crm/v3/objects/contacts/{contactId}:
    get:
      summary: Retrieve contact details by ID
      description: |
        Fetch a contact object identified by its `contactId`. 
        Control the response content via query parameters.
      tags:
        - Contacts
      operationId: getContactById
      parameters:
        - name: contactId
          in: path
          description: Unique ID of the contact.
          required: true
          schema:
            type: integer
            format: int64
        - name: properties
          in: query
          description: |
            Comma-separated list of properties to include in the response.
            If a specified property is not present, it will be ignored.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          examples:
            defaultProperties:
              summary: Example properties
              value: ["firstname", "lastname", "email"]
        - name: associations
          in: query
          description: |
            Comma-separated list of object types to retrieve associated IDs for.
            Nonexistent associations will be ignored.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          examples:
            defaultAssociations:
              summary: Example associations
              value: ["deals", "tickets"]
        - name: archived
          in: query
          description: Include only archived results.
          required: false
          schema:
            type: boolean
            default: false
          example: false
      responses:
        "200":
          description: Contact object details.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/ContactsResponse"