openapi: 3.0.0
info:
  title: HubSpot Orders API
  description: API for fetching orders from HubSpot
  version: v3
servers:
  - url: https://api.hubapi.com/
security:
  - oauth2: ['crm.objects.orders.write','crm.objects.orders.read']
paths:
  /crm/v3/objects/orders:
    get:
      summary: Retrieve a list of orders
      description: Fetches orders with pagination and properties.
      operationId: getOrders
      parameters:
        - name: limit
          in: query
          description: Maximum number of results per page.
          required: false
          schema:
            type: integer
            default: 10
          example: 50
        - name: after
          in: query
          description: Cursor token for the next page of results.
          required: false
          schema:
            type: string
          example: "MjA1MA=="
        - $ref: 'components.yaml#/components/parameters/Properties'
        - $ref: 'components.yaml#/components/parameters/PropertiesWithHistory'
        - $ref: 'components.yaml#/components/parameters/Associations'
        - $ref: 'components.yaml#/components/parameters/Archived'
      responses:
        "200":
          description: Paginated list of orders.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/OrdersResponse"
    post:
      summary: Create a new order
      description: Create a new order in the HubSpot CRM.
      tags:
        - Orders
      operationId: createOrder
      requestBody:
        description: Order details to create a new order.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  description: Key-value pairs of order properties.
                  additionalProperties:
                    type: string
                associations:
                  type: array
                  description: List of associations for the order.
                  items:
                    type: object
                    properties:
                      types:
                        type: array
                        items:
                          type: object
                          properties:
                            associationCategory:
                              type: string
                              description: Category of the association.
                              enum:
                                - Search
                                - HUBSPOT_DEFINED
                                - USER_DEFINED
                                - INTEGRATOR_DEFINED
                            associationTypeId:
                              type: integer
                              format: int32
                              description: ID of the association type.
                      to:
                        type: object
                        description: Target object details for the association.
                        properties:
                          id:
                            type: string
                            description: Target object ID.
                objectWriteTraceId:
                  type: string
                  description: Trace ID for object write operations.
              required:
                - properties
              example:
                properties:
                  hs_title: "Order Name"
                  hs_currency: "USD"
      responses:
        "201":
          description: Order created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID of the created order.
                    x-go-type-skip-optional-pointer: true
                  properties:
                    type: object
                    description: Properties of the created order.
                    x-go-type-skip-optional-pointer: true
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the order was created.
                    x-go-type-skip-optional-pointer: true
                  archived:
                    type: boolean
                    description: Whether the customer is archived or not.
                    x-go-type-skip-optional-pointer: true
                  archivedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the order was archived.
                    x-go-type-skip-optional-pointer: true
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the order was last updated.
                    x-go-type-skip-optional-pointer: true
                  propertiesWithHistory:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: "components.yaml#/components/schemas/PropertyHistory"
                    description: A map of the order's properties including historical values.
                    x-go-type-skip-optional-pointer: true

  /crm/v3/objects/orders/{orderId}:
    get:
      summary: Get Order Details
      description: Retrieve order details, including associations and additional metadata.
      operationId: getOrderById
      parameters:
        - name: orderId
          in: path
          required: true
          description: The ID of the order to retrieve.
          schema:
            type: integer
            format: int64
        - name: idProperty
          in: query
          required: false
          description: The property to use as the ID.
          schema:
            type: string
        - $ref: 'components.yaml#/components/parameters/Properties'
        - $ref: 'components.yaml#/components/parameters/PropertiesWithHistory'
        - $ref: 'components.yaml#/components/parameters/Associations'
        - $ref: 'components.yaml#/components/parameters/Archived'
      responses:
        "200":
          description: order object details.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/OrderResponse"
    patch:
      summary: Update a order
      description: Updates the details of a order in HubSpot CRM.
      operationId: updateOrder
      parameters:
        - name: orderId
          in: path
          required: true
          description: The unique identifier of the order to update.
          schema:
            type: string
      requestBody:
        description: Order details to update.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                objectWriteTraceId:
                  type: string
                  description: Unique trace ID for the operation.
                properties:
                  type: object
                  description: Key-value pairs representing the deal properties to update.
                  additionalProperties:
                    type: string
                    description: Value of the property to update.
              required:
                - properties
      responses:
        '200':
          description: Successfully updated the order.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID of the updated order.
                    x-go-type-skip-optional-pointer: true
                  properties:
                    type: object
                    description: Properties of the updated order.
                    x-go-type-skip-optional-pointer: true
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the order was created.
                    x-go-type-skip-optional-pointer: true
                  archived:
                    type: boolean
                    description: Whether the customer is archived or not.
                    x-go-type-skip-optional-pointer: true
                  archivedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the order was archived.
                    x-go-type-skip-optional-pointer: true
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the order was last updated.
                    x-go-type-skip-optional-pointer: true
                  propertiesWithHistory:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: "components.yaml#/components/schemas/PropertyHistory"
                    description: A map of the order's properties including historical values.
                    x-go-type-skip-optional-pointer: true
    delete:
      summary: Delete a order
      description: Deletes a order from HubSpot using the provided order ID.
      operationId: deleteOrderById
      parameters:
        - name: orderId
          in: path
          required: true
          description: The unique ID of the order to delete.
          schema:
            type: string
      responses:
        '204':
          description: No Content. The order was successfully deleted.
  /crm/v3/objects/orders/search:
    $ref: './search.yaml#/search'