openapi: 3.0.0
info:
  title: HubSpot Taxes API
  description: API for fetching taxes from HubSpot
  version: v3
servers:
  - url: https://api.hubapi.com/
security:
  - oauth2: ['crm.objects.taxes.write','crm.schemas.taxes.write','crm.objects.taxes.read']
paths:
  /crm/v3/objects/taxes:
    get:
      summary: Retrieve a list of taxes
      description: Fetches taxes with pagination and properties.
      operationId: getTaxes
      parameters:
        - name: limit
          in: query
          description: Maximum number of results per page.
          required: false
          schema:
            type: integer
            default: 10
          example: 50
        - name: after
          in: query
          description: Cursor token for the next page of results.
          required: false
          schema:
            type: string
          example: "MjA1MA=="
        - $ref: 'components.yaml#/components/parameters/Properties'
        - $ref: 'components.yaml#/components/parameters/PropertiesWithHistory'
        - $ref: 'components.yaml#/components/parameters/Associations'
        - $ref: 'components.yaml#/components/parameters/Archived'
      responses:
        "200":
          description: Paginated list of taxes.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/TaxesResponse"
    post:
      summary: Create a new tax
      description: Create a new tax in the HubSpot CRM.
      tags:
        - Taxes
      operationId: createTax
      requestBody:
        description: Tax details to create a new tax.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  description: Key-value pairs of tax properties.
                  additionalProperties:
                    type: string
                associations:
                  type: array
                  description: List of associations for the tax.
                  items:
                    type: object
                    properties:
                      types:
                        type: array
                        items:
                          type: object
                          properties:
                            associationCategory:
                              type: string
                              description: Category of the association.
                              enum:
                                - Search
                                - HUBSPOT_DEFINED
                                - USER_DEFINED
                                - INTEGRATOR_DEFINED
                            associationTypeId:
                              type: integer
                              format: int32
                              description: ID of the association type.
                      to:
                        type: object
                        description: Target object details for the association.
                        properties:
                          id:
                            type: string
                            description: Target object ID.
                objectWriteTraceId:
                  type: string
                  description: Trace ID for object write operations.
              required:
                - properties
              example:
                properties:
                  hs_title: "Tax Name"
                  hs_currency: "USD"
      responses:
        "201":
          description: Tax created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID of the created tax.
                    x-go-type-skip-optional-pointer: true
                  properties:
                    type: object
                    description: Properties of the created tax.
                    x-go-type-skip-optional-pointer: true
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the tax was created.
                    x-go-type-skip-optional-pointer: true
                  archived:
                    type: boolean
                    description: Whether the customer is archived or not.
                    x-go-type-skip-optional-pointer: true
                  archivedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the tax was archived.
                    x-go-type-skip-optional-pointer: true
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the tax was last updated.
                    x-go-type-skip-optional-pointer: true
                  propertiesWithHistory:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: "components.yaml#/components/schemas/PropertyHistory"
                    description: A map of the tax's properties including historical values.
                    x-go-type-skip-optional-pointer: true

  /crm/v3/objects/taxes/{taxId}:
    get:
      summary: Get Tax Details
      description: Retrieve tax details, including associations and additional metadata.
      operationId: getTaxById
      parameters:
        - name: taxId
          in: path
          required: true
          description: The ID of the tax to retrieve.
          schema:
            type: integer
            format: int64
        - name: idProperty
          in: query
          required: false
          description: The property to use as the ID.
          schema:
            type: string
        - $ref: 'components.yaml#/components/parameters/Properties'
        - $ref: 'components.yaml#/components/parameters/PropertiesWithHistory'
        - $ref: 'components.yaml#/components/parameters/Associations'
        - $ref: 'components.yaml#/components/parameters/Archived'
      responses:
        "200":
          description: tax object details.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/TaxResponse"
    patch:
      summary: Update a tax
      description: Updates the details of a tax in HubSpot CRM.
      operationId: updateTax
      parameters:
        - name: taxId
          in: path
          required: true
          description: The unique identifier of the tax to update.
          schema:
            type: string
      requestBody:
        description: Tax details to update.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                objectWriteTraceId:
                  type: string
                  description: Unique trace ID for the operation.
                properties:
                  type: object
                  description: Key-value pairs representing the deal properties to update.
                  additionalProperties:
                    type: string
                    description: Value of the property to update.
              required:
                - properties
      responses:
        '200':
          description: Successfully updated the tax.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID of the updated tax.
                    x-go-type-skip-optional-pointer: true
                  properties:
                    type: object
                    description: Properties of the updated tax.
                    x-go-type-skip-optional-pointer: true
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the tax was created.
                    x-go-type-skip-optional-pointer: true
                  archived:
                    type: boolean
                    description: Whether the customer is archived or not.
                    x-go-type-skip-optional-pointer: true
                  archivedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the tax was archived.
                    x-go-type-skip-optional-pointer: true
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the tax was last updated.
                    x-go-type-skip-optional-pointer: true
                  propertiesWithHistory:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: "components.yaml#/components/schemas/PropertyHistory"
                    description: A map of the tax's properties including historical values.
                    x-go-type-skip-optional-pointer: true
    delete:
      summary: Delete a tax
      description: Deletes a tax from HubSpot using the provided tax ID.
      operationId: deleteTaxById
      parameters:
        - name: taxId
          in: path
          required: true
          description: The unique ID of the tax to delete.
          schema:
            type: string
      responses:
        '204':
          description: No Content. The tax was successfully deleted.
  /crm/v3/objects/taxes/search:
    $ref: './search.yaml#/search'