openapi: 3.0.0
info:
  title: HubSpot Quotes API
  description: API for fetching quotes from HubSpot
  version: v3
servers:
  - url: https://api.hubapi.com/
security:
  - oauth2: ['crm.objects.quotes.read']
paths:
  /crm/v3/objects/quotes:
    get:
      summary: Retrieve a list of quotes
      description: Fetches quotes with pagination and properties.
      operationId: getQuotes
      parameters:
        - name: limit
          in: query
          description: Maximum number of results per page.
          required: false
          schema:
            type: integer
            default: 10
          example: 50
        - name: after
          in: query
          description: Cursor token for the next page of results.
          required: false
          schema:
            type: string
          example: "MjA1MA=="
        - $ref: 'components.yaml#/components/parameters/Properties'
        - $ref: 'components.yaml#/components/parameters/PropertiesWithHistory'
        - $ref: 'components.yaml#/components/parameters/Associations'
        - $ref: 'components.yaml#/components/parameters/Archived'
      responses:
        "200":
          description: Paginated list of quotes.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/QuotesResponse"
    post:
      summary: Create a new quote
      description: Create a new quote in the HubSpot CRM.
      tags:
        - Quotes
      operationId: createQuote
      requestBody:
        description: Quote details to create a new quote.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  description: Key-value pairs of quote properties.
                  additionalProperties:
                    type: string
                associations:
                  type: array
                  description: List of associations for the quote.
                  items:
                    type: object
                    properties:
                      types:
                        type: array
                        items:
                          type: object
                          properties:
                            associationCategory:
                              type: string
                              description: Category of the association.
                              enum:
                                - Search
                                - HUBSPOT_DEFINED
                                - USER_DEFINED
                                - INTEGRATOR_DEFINED
                            associationTypeId:
                              type: integer
                              format: int32
                              description: ID of the association type.
                      to:
                        type: object
                        description: Target object details for the association.
                        properties:
                          id:
                            type: string
                            description: Target object ID.
                objectWriteTraceId:
                  type: string
                  description: Trace ID for object write operations.
              required:
                - properties
              example:
                properties:
                  name: "Quote Name"
                  hs_status: "DRAFT"
      responses:
        "201":
          description: Quote created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID of the created quote.
                    x-go-type-skip-optional-pointer: true
                  properties:
                    type: object
                    description: Properties of the created quote.
                    x-go-type-skip-optional-pointer: true
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the quote was created.
                    x-go-type-skip-optional-pointer: true
                  archived:
                    type: boolean
                    description: Whether the customer is archived or not.
                    x-go-type-skip-optional-pointer: true
                  archivedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the quote was archived.
                    x-go-type-skip-optional-pointer: true
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the quote was last updated.
                    x-go-type-skip-optional-pointer: true
                  propertiesWithHistory:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: "components.yaml#/components/schemas/PropertyHistory"
                    description: A map of the quote's properties including historical values.
                    x-go-type-skip-optional-pointer: true

  /crm/v3/objects/quotes/{quoteId}:
    get:
      summary: Get Quote Details
      description: Retrieve quote details, including associations and additional metadata.
      operationId: getQuoteById
      parameters:
        - name: quoteId
          in: path
          required: true
          description: The ID of the quote to retrieve.
          schema:
            type: integer
            format: int64
        - name: idProperty
          in: query
          required: false
          description: The property to use as the ID.
          schema:
            type: string
        - $ref: 'components.yaml#/components/parameters/Properties'
        - $ref: 'components.yaml#/components/parameters/PropertiesWithHistory'
        - $ref: 'components.yaml#/components/parameters/Associations'
        - $ref: 'components.yaml#/components/parameters/Archived'
      responses:
        "200":
          description: quote object details.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/QuoteResponse"
    patch:
      summary: Update a quote
      description: Updates the details of a quote in HubSpot CRM.
      operationId: updateQuote
      parameters:
        - name: quoteId
          in: path
          required: true
          description: The unique identifier of the quote to update.
          schema:
            type: string
      requestBody:
        description: Quote details to update.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                objectWriteTraceId:
                  type: string
                  description: Unique trace ID for the operation.
                properties:
                  type: object
                  description: Key-value pairs representing the deal properties to update.
                  additionalProperties:
                    type: string
                    description: Value of the property to update.
              required:
                - properties
      responses:
        '200':
          description: Successfully updated the quote.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID of the updated quote.
                    x-go-type-skip-optional-pointer: true
                  properties:
                    type: object
                    description: Properties of the updated quote.
                    x-go-type-skip-optional-pointer: true
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the quote was created.
                    x-go-type-skip-optional-pointer: true
                  archived:
                    type: boolean
                    description: Whether the customer is archived or not.
                    x-go-type-skip-optional-pointer: true
                  archivedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the quote was archived.
                    x-go-type-skip-optional-pointer: true
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the quote was last updated.
                    x-go-type-skip-optional-pointer: true
                  propertiesWithHistory:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: "components.yaml#/components/schemas/PropertyHistory"
                    description: A map of the quote's properties including historical values.
                    x-go-type-skip-optional-pointer: true
    delete:
      summary: Delete a quote
      description: Deletes a quote from HubSpot using the provided quote ID.
      operationId: deleteQuoteById
      parameters:
        - name: quoteId
          in: path
          required: true
          description: The unique ID of the quote to delete.
          schema:
            type: string
      responses:
        '204':
          description: No Content. The quote was successfully deleted.
  /crm/v3/objects/quotes/search:
    $ref: './search.yaml#/search'