openapi: 3.0.0
info:
  title: HubSpot Companies API
  description: API for fetching companies from HubSpot
  version: v3
servers:
  - url: https://api.hubapi.com/
security:
  - oauth2: ['crm.objects.companies.read']
paths:
  /crm/v3/objects/companies:
    get:
      summary: Retrieve a list of companies
      description: Fetches companies with pagination and properties.
      operationId: getCompanies
      parameters:
        - name: limit
          in: query
          description: Maximum number of results per page.
          required: false
          schema:
            type: integer
            default: 10
          example: 50
        - name: after
          in: query
          description: Cursor token for the next page of results.
          required: false
          schema:
            type: string
          example: "MjA1MA=="
        - $ref: 'components.yaml#/components/parameters/Properties'
        - $ref: 'components.yaml#/components/parameters/PropertiesWithHistory'
        - $ref: 'components.yaml#/components/parameters/Associations'
        - $ref: 'components.yaml#/components/parameters/Archived'
      responses:
        "200":
          description: Paginated list of companies.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/CompaniesResponse"
    post:
      summary: Create a new company
      description: Create a new company in the HubSpot CRM.
      tags:
        - Companies
      operationId: createCompany
      requestBody:
        description: Company details to create a new company.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  description: Key-value pairs of company properties.
                  additionalProperties:
                    type: string
                associations:
                  type: array
                  description: List of associations for the company.
                  items:
                    type: object
                    properties:
                      types:
                        type: array
                        items:
                          type: object
                          properties:
                            associationCategory:
                              type: string
                              description: Category of the association.
                              enum:
                                - Search
                                - HUBSPOT_DEFINED
                                - USER_DEFINED
                                - INTEGRATOR_DEFINED
                            associationTypeId:
                              type: integer
                              format: int32
                              description: ID of the association type.
                      to:
                        type: object
                        description: Target object details for the association.
                        properties:
                          id:
                            type: string
                            description: Target object ID.
                objectWriteTraceId:
                  type: string
                  description: Trace ID for object write operations.
              required:
                - properties
              example:
                properties:
                  name: "Company Name"
                  domain: "example.com"
      responses:
        "201":
          description: Company created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID of the created company.
                    x-go-type-skip-optional-pointer: true
                  properties:
                    type: object
                    description: Properties of the created company.
                    x-go-type-skip-optional-pointer: true
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the company was created.
                    x-go-type-skip-optional-pointer: true
                  archived:
                    type: boolean
                    description: Whether the customer is archived or not.
                    x-go-type-skip-optional-pointer: true
                  archivedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the company was archived.
                    x-go-type-skip-optional-pointer: true
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the company was last updated.
                    x-go-type-skip-optional-pointer: true
                  propertiesWithHistory:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: "components.yaml#/components/schemas/PropertyHistory"
                    description: A map of the company's properties including historical values.
                    x-go-type-skip-optional-pointer: true

  /crm/v3/objects/companies/{companyId}:
    get:
      summary: Get Company Details
      description: Retrieve company details, including associations and additional metadata.
      operationId: getCompanyById
      parameters:
        - name: companyId
          in: path
          required: true
          description: The ID of the company to retrieve.
          schema:
            type: integer
            format: int64
        - name: idProperty
          in: query
          required: false
          description: The property to use as the ID.
          schema:
            type: string
        - $ref: 'components.yaml#/components/parameters/Properties'
        - $ref: 'components.yaml#/components/parameters/PropertiesWithHistory'
        - $ref: 'components.yaml#/components/parameters/Associations'
        - $ref: 'components.yaml#/components/parameters/Archived'
      responses:
        "200":
          description: company object details.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/CompanyResponse"
    patch:
      summary: Update a company
      description: Updates the details of a company in HubSpot CRM.
      operationId: updateCompany
      parameters:
        - name: companyId
          in: path
          required: true
          description: The unique identifier of the company to update.
          schema:
            type: string
      requestBody:
        description: Company details to update.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                objectWriteTraceId:
                  type: string
                  description: Unique trace ID for the operation.
                properties:
                  type: object
                  description: Key-value pairs representing the deal properties to update.
                  additionalProperties:
                    type: string
                    description: Value of the property to update.
              required:
                - properties
      responses:
        '200':
          description: Successfully updated the company.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID of the updated company.
                    x-go-type-skip-optional-pointer: true
                  properties:
                    type: object
                    description: Properties of the updated company.
                    x-go-type-skip-optional-pointer: true
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the company was created.
                    x-go-type-skip-optional-pointer: true
                  archived:
                    type: boolean
                    description: Whether the customer is archived or not.
                    x-go-type-skip-optional-pointer: true
                  archivedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the company was archived.
                    x-go-type-skip-optional-pointer: true
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the company was last updated.
                    x-go-type-skip-optional-pointer: true
                  propertiesWithHistory:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: "components.yaml#/components/schemas/PropertyHistory"
                    description: A map of the company's properties including historical values.
                    x-go-type-skip-optional-pointer: true
    delete:
      summary: Delete a company
      description: Deletes a company from HubSpot using the provided company ID.
      operationId: deleteCompanyById
      parameters:
        - name: companyId
          in: path
          required: true
          description: The unique ID of the company to delete.
          schema:
            type: string
      responses:
        '204':
          description: No Content. The company was successfully deleted.
  /crm/v3/objects/companies/search:
    $ref: './search.yaml#/search'