openapi: 3.0.0
info:
  description: Hubspot v3 API
  title: Hubspot v3 API
  version: v3
servers:
  - url: https://api.hubapi.com/
paths:
  /crm/v3/objects/companies/search:
    post:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/CompaniesSearchResponse"
          description: A list of Company objects
      requestBody:
        $ref: "components.yaml#/components/requestBodies/SearchParams"
      tags:
        - Company
      operationId: searchCompany
  /crm/v3/objects/companies/{companyId}:
    get:
      parameters:
        - description: The ID of the company.
          in: path
          name: companyId
          required: true
          schema:
            format: int64
            type: integer
        - description:
            A comma separated list of the properties to be returned in the
            response. If any of the specified properties are not present on the
            requested object(s), they will be ignored.
          in: query
          name: properties
          required: false
          schema:
            type: string
        - description:
            A comma separated list of object types to retrieve associated IDs
            for. If any of the specified associations do not exist, they will be
            ignored.
          in: query
          name: associations
          required: false
          schema:
            type: string
        - description:
            Whether to return only results that have been archived. Default
            value - false.
          in: query
          name: archived
          required: false
          schema:
            type: boolean
        - description: The name of a property whose values are unique for this object type.
          in: query
          name: idProperty
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/CompanyResponse"
          description: A Company object
      tags:
        - Company
      operationId: getCompanyById