openapi: 3.0.0
info:
  title: HubSpot Leads API
  description: API for fetching leads from HubSpot
  version: v3
servers:
  - url: https://api.hubapi.com/
security:
  - oauth2: ['leads']
paths:
  /crm/v3/objects/leads:
    get:
      summary: Retrieve a list of leads
      description: Fetches leads with pagination and properties.
      operationId: getLeads
      parameters:
        - name: limit
          in: query
          description: Maximum number of results per page.
          required: false
          schema:
            type: integer
            default: 10
          example: 50
        - name: after
          in: query
          description: Cursor token for the next page of results.
          required: false
          schema:
            type: string
          example: "MjA1MA=="
        - $ref: 'components.yaml#/components/parameters/Properties'
        - $ref: 'components.yaml#/components/parameters/PropertiesWithHistory'
        - $ref: 'components.yaml#/components/parameters/Associations'
        - $ref: 'components.yaml#/components/parameters/Archived'
      responses:
        "200":
          description: Paginated list of leads.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/LeadsResponse"
    post:
      summary: Create a new lead
      description: Create a new lead in the HubSpot CRM.
      tags:
        - Leads
      operationId: createLead
      requestBody:
        description: Lead details to create a new lead.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  description: Key-value pairs of lead properties.
                  additionalProperties:
                    type: string
                associations:
                  type: array
                  description: List of associations for the lead.
                  items:
                    type: object
                    properties:
                      types:
                        type: array
                        items:
                          type: object
                          properties:
                            associationCategory:
                              type: string
                              description: Category of the association.
                              enum:
                                - Search
                                - HUBSPOT_DEFINED
                                - USER_DEFINED
                                - INTEGRATOR_DEFINED
                            associationTypeId:
                              type: integer
                              format: int32
                              description: ID of the association type.
                      to:
                        type: object
                        description: Target object details for the association.
                        properties:
                          id:
                            type: string
                            description: Target object ID.
                objectWriteTraceId:
                  type: string
                  description: Trace ID for object write operations.
              required:
                - properties
                - associations
              example:
                properties:
                  leadname: "Lead1"
                  leadstage: "200"
                  pipeline: "p1"
      responses:
        "201":
          description: Lead created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID of the created lead.
                    x-go-type-skip-optional-pointer: true
                  properties:
                    type: object
                    description: Properties of the created lead.
                    x-go-type-skip-optional-pointer: true
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the lead was created.
                    x-go-type-skip-optional-pointer: true
                  archived:
                    type: boolean
                    description: Whether the customer is archived or not.
                    x-go-type-skip-optional-pointer: true
                  archivedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the lead was archived.
                    x-go-type-skip-optional-pointer: true
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the lead was last updated.
                    x-go-type-skip-optional-pointer: true
                  propertiesWithHistory:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: "components.yaml#/components/schemas/PropertyHistory"
                    description: A map of the lead's properties including historical values.
                    x-go-type-skip-optional-pointer: true
  
  /crm/v3/objects/leads/{leadId}:
    get:
      summary: Get Lead Details
      description: Retrieve lead details, including associations and additional metadata.
      operationId: getLeadById
      parameters:
        - name: leadId
          in: path
          required: true
          description: The ID of the lead to retrieve.
          schema:
            type: string
            format: int64
        - name: idProperty
          in: query
          required: false
          description: The property to use as the ID.
          schema:
            type: string
        - $ref: 'components.yaml#/components/parameters/Properties'
        - $ref: 'components.yaml#/components/parameters/PropertiesWithHistory'
        - $ref: 'components.yaml#/components/parameters/Associations'
        - $ref: 'components.yaml#/components/parameters/Archived'
      responses:
        "200":
          description: Lead object details.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/LeadResponse"
    patch:
      summary: Update a lead
      description: Updates the details of a lead in HubSpot CRM.
      operationId: updateLead
      parameters:
        - name: leadId
          in: path
          required: true
          description: The unique identifier of the lead to update.
          schema:
            type: string
      requestBody:
        description: Lead details to update.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                objectWriteTraceId:
                  type: string
                  description: Unique trace ID for the operation.
                properties:
                  type: object
                  description: Key-value pairs representing the lead properties to update.
                  additionalProperties:
                    type: string
                    description: Value of the property to update.
              required:
                - properties
      responses:
        '200':
          description: Successfully updated the lead.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID of the updated lead.
                    x-go-type-skip-optional-pointer: true
                  properties:
                    type: object
                    description: Properties of the updated lead.
                    x-go-type-skip-optional-pointer: true
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the lead was created.
                    x-go-type-skip-optional-pointer: true
                  archived:
                    type: boolean
                    description: Whether the customer is archived or not.
                    x-go-type-skip-optional-pointer: true
                  archivedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the lead was archived.
                    x-go-type-skip-optional-pointer: true
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the lead was last updated.
                    x-go-type-skip-optional-pointer: true
                  propertiesWithHistory:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: "components.yaml#/components/schemas/PropertyHistory"
                    description: A map of the lead's properties including historical values.
                    x-go-type-skip-optional-pointer: true
    delete:
      summary: Delete a lead
      description: Deletes a lead from HubSpot using the provided lead ID.
      operationId: deleteLeadById
      parameters:
        - name: leadId
          in: path
          required: true
          description: The unique ID of the lead to delete.
          schema:
            type: string
      responses:
        '204':
          description: No Content. The lead was successfully deleted.
  /crm/v3/objects/leads/search:
    $ref: './search.yaml#/search'