openapi: 3.0.0
info:
  title: HubSpot Deals API
  description: API for fetching deals from HubSpot
  version: v3
servers:
  - url: https://api.hubapi.com/
security:
  - oauth2: ['crm.objects.deals.read']
paths:
  /crm/v3/objects/deals:
    get:
      summary: Retrieve a list of deals
      description: Fetches deals with pagination and properties.
      operationId: getDeals
      parameters:
        - name: limit
          in: query
          description: Maximum number of results per page.
          required: false
          schema:
            type: integer
            default: 10
          example: 50
        - name: after
          in: query
          description: Cursor token for the next page of results.
          required: false
          schema:
            type: string
          example: "MjA1MA=="
        - $ref: 'components.yaml#/components/parameters/Properties'
        - $ref: 'components.yaml#/components/parameters/PropertiesWithHistory'
        - $ref: 'components.yaml#/components/parameters/Associations'
        - $ref: 'components.yaml#/components/parameters/Archived'
      responses:
        "200":
          description: Paginated list of deals.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/DealsResponse"
    post:
      summary: Create a new deal
      description: Create a new deal in the HubSpot CRM.
      tags:
        - Deals
      operationId: createDeal
      requestBody:
        description: Deal details to create a new deal.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  description: Key-value pairs of deal properties.
                  additionalProperties:
                    type: string
                associations:
                  type: array
                  description: List of associations for the deal.
                  items:
                    type: object
                    properties:
                      associationCategory:
                        type: string
                        description: Category of the association.
                        enum:
                          - Search
                          - HUBSPOT_DEFINED
                          - USER_DEFINED
                          - INTEGRATOR_DEFINED
                      associationTypeId:
                        type: integer
                        format: int32
                        description: ID of the association type.
                      to:
                        type: object
                        description: Target object details for the association.
                        properties:
                          id:
                            type: string
                            description: Target object ID.
                objectWriteTraceId:
                  type: string
                  description: Trace ID for object write operations.
              required:
                - properties
              example:
                properties:
                  dealname: "Deal1"
                  dealstage: "200"
                  pipeline: "p1"
      responses:
        "201":
          description: Deal created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID of the created deal.
                    x-go-type-skip-optional-pointer: true
                  properties:
                    type: object
                    description: Properties of the created deal.
                    x-go-type-skip-optional-pointer: true
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the deal was created.
                    x-go-type-skip-optional-pointer: true
                  archived:
                    type: boolean
                    description: Whether the customer is archived or not.
                    x-go-type-skip-optional-pointer: true
                  archivedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the deal was archived.
                    x-go-type-skip-optional-pointer: true
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the deal was last updated.
                    x-go-type-skip-optional-pointer: true
                  propertiesWithHistory:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: "components.yaml#/components/schemas/PropertyHistory"
                    description: A map of the deal's properties including historical values.
                    x-go-type-skip-optional-pointer: true
  
  /crm/v3/objects/deals/{dealId}:
    get:
      summary: Get Deal Details
      description: Retrieve deal details, including associations and additional metadata.
      operationId: getDealById
      parameters:
        - name: dealId
          in: path
          required: true
          description: The ID of the deal to retrieve.
          schema:
            type: string
            format: int64
        - name: idProperty
          in: query
          required: false
          description: The property to use as the ID.
          schema:
            type: string
        - $ref: 'components.yaml#/components/parameters/Properties'
        - $ref: 'components.yaml#/components/parameters/PropertiesWithHistory'
        - $ref: 'components.yaml#/components/parameters/Associations'
        - $ref: 'components.yaml#/components/parameters/Archived'
      responses:
        "200":
          description: Deal object details.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/DealResponse"
    patch:
      summary: Update a deal
      description: Updates the details of a deal in HubSpot CRM.
      operationId: updateDeal
      parameters:
        - name: dealId
          in: path
          required: true
          description: The unique identifier of the deal to update.
          schema:
            type: string
      requestBody:
        description: Deal details to update.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                objectWriteTraceId:
                  type: string
                  description: Unique trace ID for the operation.
                properties:
                  type: object
                  description: Key-value pairs representing the deal properties to update.
                  additionalProperties:
                    type: string
                    description: Value of the property to update.
              required:
                - properties
      responses:
        '200':
          description: Successfully updated the deal.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID of the updated deal.
                    x-go-type-skip-optional-pointer: true
                  properties:
                    type: object
                    description: Properties of the updated deal.
                    x-go-type-skip-optional-pointer: true
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the deal was created.
                    x-go-type-skip-optional-pointer: true
                  archived:
                    type: boolean
                    description: Whether the customer is archived or not.
                    x-go-type-skip-optional-pointer: true
                  archivedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the deal was archived.
                    x-go-type-skip-optional-pointer: true
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the deal was last updated.
                    x-go-type-skip-optional-pointer: true
                  propertiesWithHistory:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: "components.yaml#/components/schemas/PropertyHistory"
                    description: A map of the deal's properties including historical values.
                    x-go-type-skip-optional-pointer: true
    delete:
      summary: Delete a deal
      description: Deletes a deal from HubSpot using the provided deal ID.
      operationId: deleteDealById
      parameters:
        - name: dealId
          in: path
          required: true
          description: The unique ID of the deal to delete.
          schema:
            type: string
      responses:
        '204':
          description: No Content. The deal was successfully deleted.
  /crm/v3/objects/deals/search:
    $ref: './search.yaml#/search'