openapi: 3.0.0
info:
  description: Hubspot v3 API
  title: Hubspot v3 API
  version: v3
servers:
  - url: https://api.hubapi.com/
paths:
  /crm/v3/objects/products:
    get:
      parameters:
        - description:
            The maximum number of results to display per page. Default Value =
            10.
          in: query
          name: limit
          required: false
          schema:
            type: string
        - description:
            The paging cursor token of the last successfully read resource will
            be returned as the paging.next.after JSON property of a paged
            response containing more results.
          in: query
          name: after
          required: false
          schema:
            type: string
        - description:
            A comma separated list of the properties to be returned in the
            response. If any of the specified properties are not present on the
            requested object(s), they will be ignored.
          in: query
          name: properties
          required: false
          schema:
            type: string
        - description:
            A comma separated list of object types to retrieve associated IDs
            for. If any of the specified associations do not exist, they will be
            ignored.
          in: query
          name: associations
          required: false
          schema:
            type: string
        - description:
            Whether to return only results that have been archived. Default
            Value = false.
          in: query
          name: archived
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/ProductsResponse"
          description: A list of Product objects
      tags:
        - Crm
      operationId: getCrm_v3_objects_products
  /crm/v3/objects/products/search:
    post:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/ProductsSearchResponse"
          description: A list of Product objects
      requestBody:
        $ref: "components.yaml#/components/requestBodies/SearchParams"
      tags:
        - Crm
      operationId: postCrm_v3_objects_products_search
  /crm/v3/objects/products/{productId}:
    get:
      parameters:
        - description: The ID of the product.
          in: path
          name: productId
          required: true
          schema:
            format: int64
            type: integer
        - description:
            A comma separated list of the properties to be returned in the
            response. If any of the specified properties are not present on the
            requested object(s), they will be ignored.
          in: query
          name: properties
          required: false
          schema:
            type: string
        - description:
            A comma separated list of object types to retrieve associated IDs
            for. If any of the specified associations do not exist, they will be
            ignored.
          in: query
          name: associations
          required: false
          schema:
            type: string
        - description:
            Whether to return only results that have been archived. Default
            value - false.
          in: query
          name: archived
          required: false
          schema:
            type: boolean
        - description: The name of a property whose values are unique for this object type.
          in: query
          name: idProperty
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/ProductResponse"
          description: A product object
      tags:
        - Crm
      operationId: getCrm_v3_objects_products_{productId}