openapi: 3.0.0
info:
  title: HubSpot Users API
  description: API for creating and managing users in HubSpot.
  version: v3
servers:
  - url: https://api.hubapi.com/
security:
  - oauth2: ['crm.objects.users.write']
paths:
  /crm/v3/objects/users:
    get:
      summary: Retrieve a list of users
      description: Fetches users with pagination and properties.
      operationId: getUsers
      parameters:
        - name: limit
          in: query
          description: Maximum number of results per page.
          required: false
          schema:
            type: integer
            default: 10
          example: 50
        - name: after
          in: query
          description: Cursor token for the next page of results.
          required: false
          schema:
            type: string
          example: "MjA1MA=="
        - $ref: 'components.yaml#/components/parameters/Properties'
        - $ref: 'components.yaml#/components/parameters/PropertiesWithHistory'
        - $ref: 'components.yaml#/components/parameters/Associations'
        - $ref: 'components.yaml#/components/parameters/Archived'
      responses:
        "200":
          description: Paginated list of users.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/UsersResponse"
    post:
      summary: Create a user
      description: Create a standard user with properties and associations.
      operationId: createUser
      requestBody:
        required: true
        description: User details to create a new user.
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  description: Key-value pairs of lead properties.
                  additionalProperties:
                    type: string
                associations:
                  type: array
                  description: List of associations for the lead.
                  items:
                    type: object
                    properties:
                      types:
                        type: array
                        items:
                          type: object
                          properties:
                            associationCategory:
                              type: string
                              description: Category of the association.
                              enum:
                                - Search
                                - HUBSPOT_DEFINED
                                - USER_DEFINED
                                - INTEGRATOR_DEFINED
                            associationTypeId:
                              type: integer
                              format: int32
                              description: ID of the association type.
                      to:
                        type: object
                        description: Target object details for the association.
                        properties:
                          id:
                            type: string
                            description: Target object ID.
              required:
                - properties
      responses:
        "201":
          description: User created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID of the created user.
                    x-go-type-skip-optional-pointer: true
                  properties:
                    type: object
                    description: Properties of the created user.
                    x-go-type-skip-optional-pointer: true
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the user was created.
                    x-go-type-skip-optional-pointer: true
                  archived:
                    type: boolean
                    description: Whether the customer is archived or not.
                    x-go-type-skip-optional-pointer: true
                  archivedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the user was archived.
                    x-go-type-skip-optional-pointer: true
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the user was last updated.
                    x-go-type-skip-optional-pointer: true
                  propertiesWithHistory:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: "components.yaml#/components/schemas/PropertyHistory"
                    description: A map of the user's properties including historical values.
                    x-go-type-skip-optional-pointer: true
  /crm/v3/objects/users/{userId}:
    get:
      summary: Get a user by ID
      description: Retrieve a user by its ID, with optional properties, history, associations, and archived status.
      operationId: getUserById
      parameters:
        - name: userId
          in: path
          required: true
          description: The ID of the user to retrieve.
          schema:
            type: string

        - name: properties
          in: query
          description: Properties to include in the response.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          required: false

        - name: propertiesWithHistory
          in: query
          description: Properties to include with their history.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          required: false

        - name: associations
          in: query
          description: Associations to include in the response.
          schema:
            type: string
          required: false

        - name: archived
          in: query
          description: Whether to include archived users.
          schema:
            type: boolean
          required: false
      responses:
        "200":
          description: User details.
          content:
            application/json:
              schema:
                $ref: "components.yaml#/components/schemas/UserResponse"
    patch:
      summary: Update a user
      description: Updates the details of a user in HubSpot CRM.
      operationId: updateUser
      parameters:
        - name: userId
          in: path
          required: true
          description: The unique identifier of the user to update.
          schema:
            type: string
      requestBody:
        description: User details to update.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  description: Key-value pairs representing the deal properties to update.
                  additionalProperties:
                    type: string
                    description: Value of the property to update.
              required:
                - properties
      responses:
        '200':
          description: Successfully updated the user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique ID of the updated user.
                    x-go-type-skip-optional-pointer: true
                  properties:
                    type: object
                    description: Properties of the updated user.
                    x-go-type-skip-optional-pointer: true
                  createdAt:
                    type: string
                    format: date-time
                    description: Timestamp when the user was created.
                    x-go-type-skip-optional-pointer: true
                  archived:
                    type: boolean
                    description: Whether the customer is archived or not.
                    x-go-type-skip-optional-pointer: true
                  archivedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the user was archived.
                    x-go-type-skip-optional-pointer: true
                  updatedAt:
                    type: string
                    format: date-time
                    description: Timestamp when the user was last updated.
                    x-go-type-skip-optional-pointer: true
                  propertiesWithHistory:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: "components.yaml#/components/schemas/PropertyHistory"
                    description: A map of the user's properties including historical values.
                    x-go-type-skip-optional-pointer: true
    delete:
      summary: Delete a user
      description: Deletes a user from HubSpot using the provided user ID.
      operationId: deleteUserById
      parameters:
        - name: userId
          in: path
          required: true
          description: The unique ID of the user to delete.
          schema:
            type: string
      responses:
        '204':
          description: No Content. The user was successfully deleted.
  /crm/v3/objects/users/search:
    $ref: './search.yaml#/search'
